{% extends "base.html" %}

{% block content %}
<h1>Add New Person</h1>
<h2>Don't have a value? Please leave it blank or enter NULL</h2>
<form method="POST">
    <label>Person ID: <input type="text" name="personID" maxlength="50" required></label><br>
    <label>First Name: <input type="text" name="first_name" maxlength="100" required></label><br>
    <label>Last Name: <input type="text" name="last_name" maxlength="100" required></label><br>
    <label>Location ID: <input type="text" name="locationID" maxlength="50" required></label><br>
    <label>Tax ID: <input type="text" name="taxID" maxlength="50" required></label><br>
    <label>Experience: <input type="text" name="experience" required></label><br>
    <label>Miles: <input type="text" name="miles" required></label><br>
    <label>Funds: <input type="text" name="funds" required></label><br><br>

    <button type="submit">Submit</button>
    <a href="{{ url_for('view_people') }}"><button type="button">Cancel</button></a>
</form>
{% endblock %}
