{% extends "base.html" %}

{% block title %}Route Summary{% endblock %}

{% block nav_buttons %}
    <a href="{{ url_for('index') }}">
        <button>Back to Home</button>
    </a>
{% endblock %}

{% block action_buttons %}
    <a href="{{ url_for('view_flights') }}">
        <button>Back to Flights</button>
    </a>
{% endblock %}

{% block content %}
    <h1>Route Summary</h1>
    {% if routes %}
        <table border="1">
            <tr>
                {% for header in headers %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
            {% for row in routes %}
                <tr>
                    {% for cell in row %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Route summary not found</p>
    {% endif %}
    <br>
{% endblock %}
