{% extends "base.html" %}

{% block nav_buttons %}
    <a href="{{ url_for('index') }}"><button>Back to Home</button></a>
{% endblock %}

{% block action_buttons %}
    <a href="{{ url_for('view_people') }}"><button>Back to People</button></a>
    <a href="{{ url_for('view_licenses') }}"><button>View Pilot Licenses</button></a>
    <a href="{{ url_for('grant_or_revoke_pilot_license') }}"><button>Grant or Revoke Pilot License</button></a>
    <a href="{{ url_for('assign_pilot') }}"><button>Assign Pilot</button></a>
{% endblock %}

{% block content %}
    <h1>All Pilots</h1>
    {% if people %}
        <table border="1">
            <tr>
                {% for header in headers %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
            {% for row in people %}
                <tr>
                    {% for cell in row %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No pilots found in the database.</p>
    {% endif %}
    <br>
    
{% endblock %}
